* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
}

.container {
    max-width: 1920px;
    margin: auto;
    padding: 40px;
}

header {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.icons img {
    width: 36px;
    height: 36px;
    margin-left: 20px;
}

.logo {
    width: 200px;
    height: 132px;
    margin-top: -50px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.2;
    font-family: Unica One;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.37px;
    text-align: center; 
}

a, p {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 24px;
    max-width: 500px;
    margin-top: 15px;
}

p{
    font-family: Helvetica Neue;
    text-align: left;
}

section {
    display: flex;
    align-items: center;
    width: 100%;
}

.size {
    max-width: 320px;
    display: flex;
    gap: 10px;
}
.size div{ 
    border: 1px solid gray;
    width: 48px;
    height: 48px;
    font-weight:400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.classify {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.color {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
}
.color div{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 20px 0;
}
.c1 {
    background: #B6A179;
}
.c2 {
    background: #272425;
}   
.c3 {
    background: #6389CB;

}
.c4 {
    background: #F2C758;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shoe {
    width: 1107px;
    height: 941px;
}
.circle {
    width: 1301px;
    height: 183px;
    margin-top: -400px;
    background: transparent;
}

.desc {
    max-width: 320px;
}
h3 {
    font-size: 20px;
}
h2 {
    font-size: 72px;
}

.section-2 {
    display:flex;
    justify-content: space-between;
}

.vertical-txt {
    font-size: 24px;
    transform: rotate(-90deg);
    margin-left: -50px;
}

.section-2 .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 160px;
}
.icons img{
    width: 28px;
    height: 28px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.first img{
    width: 59px;
    height: 12px;
}
.first div{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.middle, .first {
    display: flex;
    align-items: center;
}
.play-btn{
    width: 60px;
    height: 60px;
    padding: 10px;
}

/* header, section, footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
} */